#mainPerson {
	margin: 4rem;
	font-size: 5rem;
	text-align: left;
	float: left;
}

.emojiContainer {
	display: flex;
	margin: 3rem;
}

.card {
	background-color: #f4f4f4;
	border-radius: 10px;
	transition: transform 0.35s;
}

.card:hover {
	transform: scale(1.05);
}

button {
	margin-bottom: 4rem;
}

@media (min-width:1281px) { 

	.card {
    background-color: #f4f4f4;
    border-radius: 10px;
    transition: transform 0.35s;
    width: 30%;
    margin: auto;
	}
	
#hide-on-emoji {
	font-size: 12px;
}

.centre-emoji {
	display: flex;
	justify-content: center;
}

/* hi-res laptops and desktops */ 
}